.App {
  text-align: center;
}

.main{
  position: absolute;
  top: 45%;
  bottom: 55%;
  left: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-up{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  margin-top: 10px;
  border: 1px solid;
  border-image: linear-gradient(to right, #FF512F, #F09819);
  border-image-slice: 1;
  border-radius: 7px;
  box-shadow: 0 0 15px #FF512F;
}

.sign-up h1{
  /* color: linear-gradient(to right, #FF512F, #F09819); */
  color: #FF512F;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
